.WelcomePage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.WelcomePageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    width: 600px;
    padding: 20px;
  }

.WelcomePageBox h1{
    font-size: 40px;
    margin-bottom: 40px;
}
    
.WelcomePage button {
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #e99bdccb;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}

.WelcomePage button:hover {
  box-shadow: 0 0px 25px #f096e1;
  background-color: #c446af;
}

.LinkNoUnderline {
  text-decoration: none;
}